@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway&family=Roboto+Condensed:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Noto Serif', serif;
    line-height: 29px;
    
}

section{
    padding: 0 150px;
    
}

/* first section */

section:first-child{
    background-color: #FBEDDA;
    padding-top: 57px;
    /* padding-bottom: 500px; */
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 225px;

}

.nav_links{
    display: flex;
    gap: 80px;
    align-items: center;
}

.nav_links a{
    font-size: 18px;
    color: #021112;
}

.nav_btn{
    box-sizing: border-box;
    flex-basis: 127px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #13A6BA;
    border-radius: 8px;
    padding: 10px 25px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

h1{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 105px;
    margin-bottom: 31px;
}

section:first-child p{
    text-align: center;
    color: #677071;
    font-size: 20px;
    line-height: 34px;
}

/* .form{
    margin-top: 132px;
    background-color: #fff;
    border-radius: 20px;
    transition: 1s;
    flex-basis: content;
}

.form:hover{
    box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.07);
} */


/* second section */

.properties{
    margin-top: 154px;
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
}

.properties h2{
    font-size: 58px;
    font-weight: 700;
    line-height: 91px;
    margin-bottom: 21px;
}
.properties p{
    font-size: 18px;
    color: #677071;
}

form{
    display: flex;
    gap: 30px;
    align-items: end;
    font-size: 26px;
    color: #CCCFD0;
    font-weight: 600;
    line-height: 36px;
}

.properties input[type=radio]{
    color: #CCCFD0;
    font-size: 26px;
}

.properties label:active{
    content: '';
    color: #772D8B;
    transition: 5s;
}

.type_house{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.choice{
    flex-basis: 454px;
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 48px;
    transition: 1s;
    padding: 30px;
}

.choice:hover{
    box-shadow: 2px 4px 55px 0px rgba(0, 0, 0, 0.11);

}

.choice img{
    border-radius: 40px 40px 0 0;
}
.choice h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 10px;
}
.choice p:nth-child(3){
    font-size: 18px;
    color: #677071;
    margin-bottom: 22px;
}
.choice p:nth-child(4){
    font-size: 58px;
    font-weight: 700;
    line-height: 91px;
}
.choice p:nth-child(5){
    font-size: 18px;
    color: #CCCFD0;
    margin-bottom: 82px;
}

.choice_btn{
    flex-basis: 454px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #13A6BA;
    border-radius: 20px;
    text-align: center;
    padding: 27px 0;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.properties_btn{
    display: flex;
    gap: 56px;
    justify-content: end;
}

.primary_btn{
    border: 1px solid #772D8B;
    border-radius: 9px;
    color: #772D8B;
    padding: 14px 23px;
    font-size: 30px;
}
.secondary_btn{
    border-radius: 9px;
    color: #fff;
    background-color: #772D8B;
    padding: 14px 23px;
    font-size: 30px;
}

/* third section */

section:nth-child(3){
    margin-top: 400px;
    display: flex;
    gap: 20px;
}



.info_pre img{
    float: left;
}